:root {
  --vp-home-hero-image-background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  --vp-home-hero-image-filter: blur(72px);
}

.footer-year {
  color: #2b2b2b;
}
html.dark .footer-year {
  color: #e2e2e2;
}
